#contacto .sangria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#contact-form button {
  float: right;
  background-color: #8d0d25;
  color: white;
  border: none;
  border-radius: 10%;
  padding: 0.5em;
  font-size: 0.8em;
}

#contact-form button:focus {
  outline: none;
}

.campo-formulario {
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 0.2em;
  padding: 0.4em;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  outline-color: #E61C41;
}

textarea {
  margin-top: 0.2em;
  padding: 0.4em;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 1.4;
  width: 97%;
}

textarea:focus {
  outline-color: #E61C41;
}


#redes-sociales {
  margin: 0em 2em;
  display: flex;
  flex-direction: row;
}

.container-img-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2em;
}

.img-link {
  margin-right: auto;
  width: 50px;
  height: auto;
  border-radius: 200em;
}

.img-link:hover {
  width: 51px;
}

#github:hover {
  box-shadow: 0 0 5px #000000;
}

#linkedin:hover {
  box-shadow: 0 0 5px #0073b1;
}

