
#habilidades {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

#idiomas span{
  padding: 0.5em 0;
}

.hability {
  display: flex;
  align-items: center;
  padding-bottom: 1.1em;
}

.hability img {
  width: auto;
  height: 30px;
  margin-right: 5px;
}

#conocimiento-h2{
  margin-top: 2.5em;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media(min-width: 420px) {
  #destrezas .sangria {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: auto;
  }

  #destrezas h2 {
    margin-top: 0;
  }
}