
#header-big {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 2.5em 4em;
  margin-right: 5em;
  margin-bottom: 0em;
}

#header-small {
  display: none;
}

.logo {
  max-width: 280px;
  height: auto;
  width: 100%;
}

.nav-bar {
  width: 100%;
  border-top: 0.1em solid #8D0D25;
  border-bottom: 0.1em solid #8D0D25;
  font-size: 1.4em;
  padding: 1em 0em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 1em;
}

.nav-bar a {
  padding-left: 0.7em;
  text-decoration: none;
  color: black;
}

.nav-bar a:hover {
  color: #E61C41;
  cursor: pointer;
}


@media(max-width: 1130px) {
  #header-big {
    flex-direction: column;
  }
}

@media(max-width: 800px) {
  #header-big {
    display: none;
  }

  #header-small {
    display: block;
  }
}
