
#header-big {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 2.5em 4em;
  margin-right: 5em;
  margin-bottom: 0em;
}

#header-small {
  display: none;
}

.logo {
  max-width: 280px;
  height: auto;
  width: 100%;
}

.nav-bar {
  width: 100%;
  border-top: 0.1em solid #8D0D25;
  border-bottom: 0.1em solid #8D0D25;
  font-size: 1.4em;
  padding: 1em 0em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 1em;
}

.nav-bar-links {
  padding-left: 0.7em;
  text-decoration: none;
  color: black;
}

.nav-bar-links:hover {
  color: #E61C41;
  cursor: pointer;
}

.menu-button img {
  width: 80px;
}

.menu-button {
  border: none;
  border-radius: 0.8em;
  background-color: white;
  cursor:pointer;
}

.menu-button:hover img {
  content:url("../img/hamburguesa_rosa.jpg");
}

.menu-button:focus {
  outline: none;
}

#slide-menu {
  background-color: #FFF1F1;
  font-size: 1.4em;
  width: 10em;
}

.no-show {
  display:none;
}

.show {
  display: flex;
  flex-direction: column;
}

#slide-menu .nav-bar-links{
  padding: 0.2em 0.3em;
  /* border-bottom: 1px solid #8D0D25; */
}


@media(max-width: 1130px) {
  #header-big {
    flex-direction: column;
  }
}

@media(max-width: 800px) {
  #header-big {
    display: none;
  }

  #header-small {
    margin: 2.5em 0em;
    margin-bottom: 0em;
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }
}

@media(max-width: 370px) {
  .logo {
    max-width: 230px;
  }
  
}
