#proyectos .sangria {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  height: 2.5em;
  width: 8.5em;
  border-radius: 0.5em;
  transition: 0.7s;
  margin: 1em 0;
}
.project img {
  height: 45px;
  width: auto;
  border-radius: 0.5em;
}

.project span {
  color: black;
  height: 0em;
  visibility:hidden;
  display:block;
  opacity: 0;
  font-size: 18px;
  transition: visibility 0.5s, opacity 1s linear;
}

.project:hover {
  height: 9.5em;
  box-shadow: 0 0 5px #ddd;
}

.project a{
  text-decoration: none;
  margin:auto;
  padding: 0 0.7em;
}

.project:hover span{
  height: 10em;
  visibility: visible;
  opacity: 1;
}

#fiktin {
  background-color: #35afba;
}

#fiktin span {
  color:white;
}

#fiktin:hover {
  box-shadow: 0 0 5px #35afba;
}

#calculadora {
  background-color: #fafff9;
}

@media(min-width: 420px) {
  .project {
    display: flex;
  }
}

@media(max-width: 719px) {

  .project div {
    padding:0.5em 0;
  }
}
